.git
.gitignore
node_modules
**/node_modules
dist
**/dist
target
**/target
.env
.env.*
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
*.fit
**/*.fit
